<html>

<head>

    {{!--
    <link rel="stylesheet" href="/assets/css/site.min.css">--}} {{!--
    <link rel="stylesheet" href="/assets/css/vendor.min.css">--}}
</head>

<body>

    <script type="text/javascript" src="/js/inputForm.js"></script>
    <div data-role="page">
        <infopane-title>{{{label}}}</infopane-title>
        <div id="build-wrap">{{{errorMessage}}}</div>

        <div class="container">
            <h2 id="messageTitle" class="serveMessage">{{messageTitle}}</h2>
            <div class="panel panel-default">
                <div id="serverMessage" class="panel-body serveMessage">{{serverMessage}}</div>
            </div>
        </div>
    </div>
    <style>
        .field-actions {
            display: none;
        }

        /* body {
            background: lightgrey;
            font-family: sans-serif;
        }*/

        #fb-rendered-form {

            display: none;

        }

        /*.form-wrap.form-builder button,
        .form-wrap.form-builder input,
        .form-wrap.form-builder optgroup,
        .form-wrap.form-builder select,
        .form-wrap.form-builder textarea {
            color: #fff;
        }*/
    </style>
    <script>
        //# sourceURL=views.inputForm.index.hbs
        //The form gets generated and inserted into the div containinng the class, "fb-render"
        //# sourceURL=views.inputForm.index.hbs
        //if this does not work, try jQuery(function($) { });
        var formId = "{{{id}}}";
        var collection = "{{{collection}}}";

        var formData = '{{{data}}}';
        //We want to populate the json first before building the form. This is done in mapDbApi.js in getRowAndUpdateMapDbForm()
        if (formData !== null && formData.length) { populateSurveyForm(formData); }
    </script>
</body>

</html>
